body {
  font-family: Roboto, sans-serif;
  color: #434455;
  line-height: 1.2;
}
.logo {
  font-family: Raleway, sans-serif;
  color: #2e2f42;
  text-decoration: none;
  font-size: 18;
  font-weight: bold;
}
.logo span {
  color: #4d5ae5;
}
.menu .menu-ul .menu-item {
  list-style-type: none;
}
.menu .menu-ul .menu-item .link {
  color: #2e2f42;
  text-decoration: none;
}
.menu .menu-ul .menu-item .link:hover {
  color: #404bbf;
}
.menu .menu-ul .menu-item .links {
  color: #2e2f42;
  text-decoration: none;
}
.menu .menu-ul .menu-item .links:hover {
  color: #404bbf;
}
.menu .menu-ul .menu-item .links:active {
  color: #404bbf;
  text-decoration: underline;
}
.adres .adres-ul .adres-item {
  list-style-type: none;
}
.adres .adres-ul .adres-item .adres-a {
  color: #434455;
  font-size: 16px;
}
.adres .adres-ul .adres-item .adres-a:hover {
  color: #404bbf;
}
button {
  background-color: #4d5ae5;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  width: 169px;
  height: 56px;
  font-size: 16px;
  cursor: pointer;
}
button:hover {
  background-color: #404bbf;
}
.section-1 {
  background-color: #2e2f42;
  color: #ffffff;
  height: 600px;
}
.section-2 .section-2-ul .section-2-ul-item {
  list-style-type: none;
}
.section-3 {
  background-color: #f4f4fd;
}
.section-3 .section-3-ul .section-3-ul-item {
  list-style-type: none;
}
.section-4 .section-4-ul .section-4-ul-item {
  list-style-type: none;
}
footer {
  background-color: #2e2f42;
  height: 312px;
  color: #f4f4fd;
}
.footer .logo {
  color: #ffffff;
}
h2 {
  color: #2e2f42;
  font-size: 36px;
}
h1 {
  font-size: 44px;
  color: #ffffff;
}
